# =====================================================
# Variables de entorno – UrbanGO
# =====================================================
# Este archivo es un EJEMPLO de las variables necesarias
# para ejecutar el proyecto correctamente.
#
#  Copia este archivo y renómbralo a ".env"
#  Completa los valores según tu entorno local
#
#  No coloques valores reales sensibles aquí
#  El archivo .env real NO debe subirse al repositorio
#
# IMPORTANTE (Expo):
# - Solo las variables que comiencen con EXPO_PUBLIC_
#   estarán disponibles dentro de la aplicación.
# =====================================================

# URL base del backend
EXPO_PUBLIC_API_URL=

# API Key de Google Maps (si aplica)
EXPO_PUBLIC_GOOGLE_MAPS_KEY=

# Entorno actual (development | production)
EXPO_PUBLIC_ENV=development

# ==================================================
# Token para usar el mapa
EXPO_PUBLIC_MAPBOX_TOKEN=